<form (submit)="onSubmit(str.value, num.value)">
  <div class="form-group">
    <label for="string">String to be Encoded</label><br />
    <textarea
      required
      ngModel
      name="str"
      #str="ngModel"
      minlength="3"
      cols="30"
      rows="10"
      id="string"
      type="text"
      class="form-control"
    ></textarea>
    <div class="alert alert-danger" *ngIf="!str.valid">
      A string is required with a minimum lenght of 3 characters.
    </div>
  </div>
  <div class="form-group">
    <label for="number">Encoding Number Shift</label><br />
    <input
      required
      ngModel
      name="num"
      #num="ngModel"
      minlength="1"
      id="number"
      type="number"
      class="form-control"
    />
    <div class="alert alert-danger" *ngIf="!num.valid">
      A number is required.
    </div>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
<ul>
  <li *ngFor="let cipher of cipherArray; index as i; first as isFirst">
    Cipher: {{ cipher.cipher }}, Original: {{ cipher.original }}, Cipher Shift:
    {{ cipher.number }}
  </li>
</ul>
